@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header-full-site {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.icon {
    margin: 0 0 0 15%;
    display: flex;
    align-items: center;
}

.icon > img {
    width: 5%;
    height: 80%;
}

.nav-bar-nav {
    width: 20%;
    margin: 0 15% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-bar-menu {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar-menu > li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar-menu > li > a {
    color: #000;
    text-decoration: none;
    padding: 9px 18px;
}

.nav-bar-menu > li > a:hover {
    background-color: #ddd;
    color: rgb(41, 95, 204) ;
    border-bottom: solid 2.5px rgb(41, 95, 204);
    border-radius: 4px;
    transition: 0.05s ease-in;
}

.dropdown-menu {
    background-color: #ddd;
    border-radius: 4px;
    margin-top: 180px;
    display: none;
}

.dropdown-menu > li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-menu > li > a {
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
}

.dropdown-menu > li > a:hover {
    background-color: #fff;
    color: rgb(41, 95, 204);
    border-bottom: solid 2.5px rgb(41, 95, 204);
    transition: 0.05s ease-in;
}

.nav-bar-menu > li:hover .dropdown-menu {
    display: block;
    position: absolute;
}

/* Nav-bar */
.mobile-menu-icon div {
    background-color: #0f0f0f;

    width: 32px;
    height: 2px;
    margin: 8px;
}

.mobile-menu-icon button {
    display: none;
}

.mobile-menu {
    display: none;
}

.about-box {
    background-color: #0f0f0f;
    width: 100%;
    margin-top: 60px;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.invitation {
    background-color: rgb(41, 95, 204);
    width: 30%;
    border-radius: 15px;
    margin: 8% 0;
    transition: 0.2s;
}

.invitation:hover {
    padding: 5px;
}


.etec-box {
    width: 100%;
    margin: 6% 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.etec-box > img {
    width: 35%;
}

.etec-about {
    width: 45%;
}

.card-about {
    background-color: rgb(30, 65, 134);
    width: 100%;
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-1024px {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-768px {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 44.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card > figure {
    color: #fff;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #15234ba1 3px 3px 3px ;
}

.card > figure:hover {
    color: #ccc;
    background-color: #ccc;
}

.card > figure > img {
    width: 100%;
    border-radius: 5px;
}

footer {
    width: 100%;
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icon {
    width: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0 0 0;
}

.social-icon > a > i {
    background-color: #fff;
    color: #0f0f0f;
    padding: 8px;
    border-radius: 50%;
}

.social-icon > a:hover i {
    background-color: rgb(41, 95, 204);
}

footer > hr {
    color: #ddd;
    width: 99%;
}

.copyright {
    background-color: #020202;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TEXTOS */

.icon > h1 {
    text-align: center;
    font-size: 24px;
    margin: 0 0 0 3%;
}

.about-box > h2 {
    color: #fff;
    font-size: 50px;
}

.invitation > h3 {
    color: #fff;
    text-align: center;
    margin: 10% 0;
    padding: 0 40px;
}

.etec-about > h3 {
    font-weight: 400;
}

.card-about > h1 {
    color: #fff;
    margin: 7% 0 3.5% 0;
}

.card > figure > p {
    padding: 10px 10px 45px 10px;
}

footer {
    width: 100%;
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icon {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 0 0 0;
}

.social-icon > a > i {
    background-color: #fff;
    color: #0f0f0f;
    padding: 8px;
    border-radius: 50%;
    margin: 0 8px;
}

.social-icon > a:hover i {
    background-color: rgb(41, 95, 204);
    transition: 0.175s ease-in;
}

.copyright {
    background-color: #020202;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > h6 {
    color: #c7c7c7;
    text-align: center;
    font-weight: 50;
    font-size: 17px;
    margin: 3% 0;
}

/* search bar */
#nomeDiv {
    background-color: #0f0f0f;
    display: flex;
    align-items: center ;
    justify-content:  center;
    background-size: cover;
    width: 400px;
    height: 300px;
}

.pesquisa {
    width: 65%;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 5px;
    outline: none;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 0 20px;
}

.botao {
    background-color: rgb(41, 95, 204);
    height: 30px;
    width: 30px;
    padding: 20px;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.botao:hover {
    background-color: rgb(30, 65, 134);
    transition: 0.4s;
    padding: 21px;

}

.img {
    width: 90%;
}

.search{
    background-color: #0f0f0f;
    width: 100%;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    background-color: #0f0f0f;
    width: 640px;
    height: 640px;
    padding: 50px;
    border-radius: 15px;
    margin: 120px 0 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* pagina "sobre" */

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.explicacao{
    background-color: #0f0f0f;
    color: #fff;
    font-size: 15px; 
    width: 100%;
    padding: 150px 0;
    margin: 60px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.camera{
    width: 5.82cm;
    height: 5.82cm;
}

.copyright-about{
    max-width: 50%;
    background-color:  rgb(41, 95, 204);
    color: #fff;
    padding: 50px;
    border-radius: 15px;
    transition: 0.2s;
}

.copyright-about:hover{
    transition: 0.2s;
    padding: 55px;
}

.project{
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    text-align: center;
    width: 50%;
    padding: 50px;
    font-weight: 400;
}

.footersobre{
    color: #fff;
    background-color: #0f0f0f;
    text-align: center;
}

/* páginas dos dias */

.days{
    background-color: #0f0f0f;
}

.fotos{
    text-align: center;
}

/* RESPONSIVIDADE! NÃO ALTERAR NADA!!! */

@media screen and (max-width: 1024px){
    
    .about-box {
        flex-direction: column;
    }

    .about-box > h2{
        margin: 80px 0 0 0;
    }

    .invitation {
        width: 75%;
    }

    .etec-box {
        flex-direction: column;
    }

    .etec-box > img {
        width: 80%;
    }

    .etec-about {
        width: 80%;
        margin: 40px 0 0 0  ;
    }
}

@media screen and (max-width: 768px) {
    
    .card-1024px {
        flex-direction: column;
    }

    .card-768px {
        width: 100%;
    }

    .explicacao {
        flex-direction: column;
        padding: 100px;
    }

    .camera {
        margin: 40px 0 0 0;
    }

    .header-full-site {
        height: 60px;
        justify-content: space-around!important;
    }

    .icon {
        margin: 0;
        width: 80%;
        justify-content: center;
    }

    .about-box > h2 {
        text-align: center;
    }

    #nomeDiv {
        width: 300px;
        height: 225px;
    }

    .search-bar {
        width: 300px;
        height: 500px;
    }

    /* MENU MOBILE */

    .nav-bar-nav {
        margin: 0;
    }

    .nav-bar-nav ul {
        display: none;
    }

    .mobile-menu-icon button {
        border: 0;
        cursor: pointer;
        display: block;
    }

    .mobile-menu {
        position: absolute;
        left: 0;
    }

    .mobile-menu ul {
        background-color: #c7c7c7;
        text-align: center;
        width: 100px;
        margin: 60px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mobile-menu ul li {
        display: block;
        padding: 15px 20px 0 20px;
    }

    .mobile-menu > ul > li > a {
        color: #000;
        text-decoration: none;
        padding: 10px;
    }

    .mobile-menu > ul > li > a:hover {
        background-color: #fff;
        color: rgb(41, 95, 204);
        border-bottom: solid 2.5px rgb(41, 95, 204);
        transition: 0.05s ease-in;
    }

    .mobile-menu > ul > li > .dropdown-menu-mobile {
        display: none;
        margin: 0;
    }

    .mobile-menu > ul > li:hover .dropdown-menu-mobile {
        display: block;
    }

    .dropdown-menu-mobile > li {
        padding: 0;
    }

    .dropdown-menu-mobile > li > a {
        color: #000;
        text-decoration: none;
        padding: 10px;
    }

    .dropdown-menu-mobile > li > a:hover {
        background-color: #fff;
        color: rgb(41, 95, 204);
        border-bottom: solid 2.5px rgb(41, 95, 204);
        transition: 0.05s ease-in;
    }

    .mobile-menu, .open {
        margin: 0;
    }

    .open {
        display: block;
    }
}

@media screen and (max-width: 480px) {

    #nomeDiv {
        width: 250px;
        height: 187.5px;
    }

    .search-bar {
        width: 250px;
        height: 400px;
    }
}
